@model IEnumerable<DealerVehicle.Models.Vehicle>

@{
    ViewBag.Title = "DealerInventory";
}

<h2>DealerInventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model.Brand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model.ModelColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model.ModelYear)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.Brand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelYear)
        </td>
        
        <td>
          
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
