@model IEnumerable<DealerVehicle.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Model Name
        </th>
        <th>Model Year</th>
        <th>Model Color</th>
        <th>Brand</th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.ModelColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model.Brand.BrandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
